body {
  margin: 0;
  padding: 0; }

header {
  padding: 10px;
  background: #ff6e02 url(../images/header.png) top left no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  header .search {
    max-width: 30px; }

footer {
  padding: 10px;
  background: #ff6f05 url(../images/footer.png) top left no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

#task-form {
  display: flex;
  flex-direction: row; }
  #task-form input {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ff6e02;
    font-size: 14px; }
  #task-form input:focus {
    background-color: #f5ece6;
    color: #2b2b2b;
    outline: none; }
  #task-form button {
    width: 65px;
    height: 41px;
    border: 0;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    background: url(../images/button.png) top left no-repeat; }

@media only screen and (min-width: 500px) {
  #task-form input {
    min-width: 400px; } }

#task-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  #task-list li {
    padding: 1em;
    background: #f1f1f1 url(../images/row-bg.png) top left no-repeat;
    margin: 5px 0; }
    #task-list li .task-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #task-list li .task-container .task-name, #task-list li .task-container .task-age {
        padding: 0;
        margin: 5px; }
      #task-list li .task-container .task-name {
        font-size: 16px;
        font-weight: bold; }
      #task-list li .task-container .task-buttons {
        display: flex;
        flex-direction: row; }
        #task-list li .task-container .task-buttons button {
          width: 48px;
          height: 48px;
          font-size: 1.5 em;
          background: none;
          border: 0; }
        #task-list li .task-container .task-buttons button:focus {
          outline: none;
          background-color: #ccc; }
        #task-list li .task-container .task-buttons button[data-function='status'] {
          margin: 0 15px 0 0; }
  #task-list li[data-status="true"] {
    background-color: #eee; }
    #task-list li[data-status="true"] .task-name {
      text-decoration: line-through;
      opacity: 0.5; }
