doctype html    
html 
  head
    title Quick To Do List
    link(href='css/styles.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    header
      img.search(src="images/maginify.png" alt="Search")
    main
      ul#task-list
        //li Buy watermelons
        //li Finish assigments
    footer
      form#task-form
        input#task-input(type='text', placeholder='add a task')
        button#task-add(type='submit')
  script(src='./js/main.js')
    